In [3]:
import cira

cira.auth.KEY_FILE = "../../alpc_key.json"
assert cira.auth.check_keys(), "the set keys dose not work"

In [4]:
portfolio = cira.Portfolio()

In [5]:
import pandas as pd 
import numpy as np
from typing import List, Dict

In [6]:
from datetime import datetime

assets_symbols = ["MSFT", "TSLA", "AMZN"]
stk_hist_data = {}
IS_CACHED = True

for SYMBOL in assets_symbols:
    SYM_HIST_FILE = f"./{SYMBOL}.csv"

    stk = cira.Stock(SYMBOL)

    if not IS_CACHED:
        start = datetime(2015, 7, 1)
        end = datetime(2023, 7, 1)
        stk.save_historical_data(SYM_HIST_FILE, start, end)
    
    data = stk.load_historical_data(SYM_HIST_FILE)
    stk_hist_data[SYMBOL] = data

In [10]:

df = pd.DataFrame()

for sym, hist in stk_hist_data.items():
    df[sym] = hist["close"]

df

                             MSFT    TSLA    AMZN
timestamp
2016-01-04 05:00:00+00:00   54.80  223.41  636.99
2016-01-05 05:00:00+00:00   55.05  223.43  633.79
2016-01-06 05:00:00+00:00   54.05  219.04  632.65
2016-01-07 05:00:00+00:00   52.17  215.65  607.94
2016-01-08 05:00:00+00:00   52.33  211.00  607.05
...                           ...     ...     ...
2023-06-26 04:00:00+00:00  328.60  241.05  127.33
2023-06-27 04:00:00+00:00  334.57  250.21  129.18
2023-06-28 04:00:00+00:00  335.85  256.24  129.04
2023-06-29 04:00:00+00:00  335.05  257.50  127.90
2023-06-30 04:00:00+00:00  340.43  261.77  130.36

[1886 rows x 3 columns]

In [32]:
import numpy as np

alpha = 0.1  # Adjust based on your experimentation
gamma = 0.9  # Adjust based on your experimentation

df.head().to_numpy()

array([[ 54.8 , 223.41, 636.99],
       [ 55.05, 223.43, 633.79],
       [ 54.05, 219.04, 632.65],
       [ 52.17, 215.65, 607.94],
       [ 52.33, 211.  , 607.05]])